/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Ajout de la règle pour le message d'erreur */
#error-message {
	font-family: 'Work Sans';
    color: red;
    font-size: 18px; 
    font-weight: 700;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C; 
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/** Navigation **/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/** Introduction **/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/** Portfolio **/
#portfolio {
	margin-top: 100px;
    padding-left: 60px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 2em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

 /** Mode édition **/
.mode-edition-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.mode-edition-section i, 
.mode-edition-section span {
	color: #fff;
	font-size: 15px;
	padding: 7px;
  }

/** Filtres **/
#filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}
#filtres button {
	font-family: 'Syne';
	padding: 10px 15px;
	color: #1D6154;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 30px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease-out;
}
#filtres button:hover {
	background-color: #1D6154;
	color: white;
}

#filtres button.active {
    background-color: #1D6154; 
    color: white;
}

/** Contact & Log-in **/
#contact, #log-in {
    width: 50%;
    margin: auto;
}

#log-in a {
    margin: auto;
    color: #3D3D3D;
}

#contact, #log-in > * {
    text-align: center;
}

#contact h2, #log-in h2 {
    margin-bottom: 20px;
}

#contact form, #log-in form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input, #log-in input {
    height: 50px;
    font-family: 'Work Sans';
    font-size: 1.2em;
    border: none;
    padding: 0 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #log-in label {
    margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

input[type="submit"]:hover{
	background-color: #0E2F28;
}
input[type="submit"]:disabled {
	background: #A7A7A7;
	cursor: default;
}

li.strong {
    font-weight: bold;
}

/** Footer **/
footer nav ul {
	display: flex;
    width: 100%;
	justify-content: flex-end;
	margin: 2em;
}

nav li a {
    text-decoration: none; 
	color: inherit;
}

/** Modals **/
/* Modal 1 */
.modal-container, 
.modal-container2 {
    position: absolute;
    display: flex;
    width: 630px; 
    height: 688px;
    z-index: 1000;
    position: fixed;
    top: 5%;
    left: 405px;
    justify-content: center; 
    align-items: center; 
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0 50px; 
    box-sizing: border-box;
    flex: 1; 
}

#add-project-form-modal {
    max-width: 100%; 
    text-align: center;
    justify-content: center;
}

.open-modal {
    position: relative;
	top: -30px;
    left: 170px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #000000;
    border: none;
    cursor: pointer;
    gap: 10px;
    padding: 0;
}

.modal1-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.delete-icon {
	position: absolute;
	text-align: center;
	justify-content: center;
    background: black;
    border-radius: 2px;
    top: 3px;
    right: 3px;
	color: white;
    cursor: pointer;
	border-radius: 2px;
	background: black;
	padding: 5px;
}

.modal1-image {
    position: relative; 
	max-width: 100px; 
	margin-right: 10px;
}

.thumbnail-image {
    width: 100px; 
}

.btn-modifier__link {
    text-decoration: none;
	color: black;
	font-family: 'Work Sans';
	font-weight: 100;
	font-size: 18px;
}

.btn-modifier__link:hover {
    text-decoration: underline;
	text-underline-offset: 3px;
}

  .svg-icon {
    width: 20px;
    height: 15px;
    padding: 0;

  }

.modal-content {
    width: 100%; 
    margin: 0 auto; 
	position: relative; 
}

.modal-title {
    position: relative;
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    padding: 30px 0;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: -20px;
    cursor: pointer;
    font-size: 30px;
	color: black;
}

.modal-close:hover, 
.modal2-close:hover,
#back-to-modal1:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease; 
}


hr {
    width: 95%;
    height: 1px;
    margin-top: 50px;
    background-color: #B3B3B3;
    border: none;
}

.modal-overlay {
    z-index: 999; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

/* Modal 2*/
#modal2 .modal2-content {
    display: flex;
    flex-direction: column;
  	justify-content: center;
    box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
}

#modal2 label {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 550;
}

#modal2 input {
    margin-top: 14px;
    margin-bottom: 22px;
    width: 96%;
    font-size: 14px;
    font-family: "Work Sans";
    font-weight: 400;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    color: #444444;
    padding: 18px 0px 17px 16px;
}

#modal2 select {
    margin-top: 14px;
    margin-bottom: 22px;
    width: 99.5%;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 400;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    color: #444444;
    padding: 18px 0px 17px 16px;
    appearance: none;
    background-position: 93%;
    background-repeat: no-repeat;
}


#modal2 select:hover {
    background-color: #F0F0F0; 
}

#modal2 a {
    font-size: 10px;
	margin-bottom: 20px;
    color: #444444;
}

#modal2 #back-to-modal1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
    width: 21px;
    height: 36px;
    color: #306685;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal2 .modal2-close {
    position: absolute;
    top: 20px; 
    right: 10px; 
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
	font-size: 30px;
}

#modal2 #modal2-title h2 {
    text-align: center; 
    font-size: 20px;
    margin: 70px 0 30px 0;
}

#modal2 #modal2-photo-add-button {
    width: 173px;
    height: 36px;
    font-size: 14px;
    font-weight: 550;
    font-family: "Work Sans";
    border: none;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    cursor: pointer;
    margin: 10px; 
}

#modal2 .loaded-photo-change {
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
    justify-content: center;
    background: #E8F1F6;
    border-radius: 3px;
    margin-bottom: 30px;
	width: 100%;
	height: 100%;
	top: 786px;
	left: 510px;
}

#modal2 .modal2-image {
    max-width: 30%; 
	max-height: 100%;
    object-fit: cover;
}

#modal2 #file-input {
    display: none;
}

#modal2 #modal2-button {
    width: 50%;
    height: 36px;
    margin: 20px 120px; 
    border: 1px solid;
    border-radius: 60px;
    background-color: #1D6154;
    color: #FFF;
    font-family: Syne;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
	text-align: center;
	justify-content: center;
}

.modal2-line {
    margin-top: 20px;
}

/** Catégorie section **/
.categorie-section {
    position: relative;
}

.categorie-section select {
    padding-right: 30px; 
}

.categorie-section i {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    pointer-events: none; 
    color: black; 
}

/* Agrandir la taille du texte des options de la liste des catégories */
#modal2 select option {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}









